.bg-gray-50 {
    background-color: #fafafa;
}

.bg-gray-100 {
    background-color: #f0f0f0;
}
.hover\:bg-gray-100:hover {
    background-color: #f0f0f0;
}

.bg-gray-200 {
    background-color: #e0e0e0;
}
.hover\:bg-gray-200:hover {
    background-color: #e0e0e0;
}

.bg-gray-300 {
    background-color: #d0d0d0;
}
.hover\:bg-gray-300:hover {
    background-color: #d0d0d0;
}
.active\:bg-gray-300:active {
    background-color: #d0d0d0;
}

.bg-red-100 {
    background-color: #ffcccc;
}
.hover\:bg-red-100:hover {
    background-color: #ffcccc;
}

.bg-red-200 {
    background-color: #ff9999;
}
.hover\:bg-red-200:hover {
    background-color: #ff9999;
}
