.w-full {
    width: 100%;
}

.w-max {
    width: max-content;
}

.w-min {
    width: min-content;
}

.w-fit {
    width: fit-content;
}

.w-1em {
    width: 1em;
}

.w-2em {
    width: 2em;
}

.w-25 {
    width: 25%;
}